<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="/">
	                <div class="logo">
	                    <img src="assets/img/logoi.png" alt="Creative Tim Logo" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>" data-placement="bottom" data-html="true">
	                </div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
			<ul class="nav navbar-nav">
				<li>
					<a href="components-documentation.html" target="_blank">
						<!--<i class="material-icons">dashboard</i>-->
						 ¿Cómo funciona?
					</a>
				</li>
				<li>
					<a href="http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie" target="_blank">
						<!--<i class="material-icons">unarchive</i>-->
						 Conviertete en socio
					</a>
				</li>
				<!--<li>
					<a rel="tooltip" title="Síguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Síguenos en Linked In" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-linkedin-square"></i>
					</a>
				</li>-->
	    	</ul>

	    	<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="sign-up">
						<!--<i class="material-icons">dashboard</i>-->
						 Regístrate
					</a>
				</li>
				<li>
					<a href="http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie" target="_blank">
						<!--<i class="material-icons">unarchive</i>-->
						 Inicia sesión
					</a>
				</li>

	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->