<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
			<a href="/">
				<div class="logo">
					<img src="assets/img/logoi.png" alt="Creative Tim Logo" data-placement="bottom" data-html="true">
				</div>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navigation-index">
			<ul class="nav navbar-nav">
				<li>
					<a href="#funciona">
						<!--<i class="material-icons">dashboard</i>-->
						¿Cómo funciona?
					</a>
				</li>
				<li>
					<a href="partner-sign-up">
						<!--<i class="material-icons">unarchive</i>-->
						Conviertete en socio
					</a>
				</li>
				<li>
					<a href="careers">
						<!--<i class="material-icons">unarchive</i>-->
						Careers
					</a>
				</li>
				<!--<li>
					<a rel="tooltip" title="Síguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Síguenos en Linked In" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-linkedin-square"></i>
					</a>
				</li>-->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li >
					<a href="/user">
						<!--<i class="material-icons">dashboard</i>-->
						Mi cuenta
					</a>
				</li>
				
				<!--<li class="dropdown" *ngIf="authSrv.isLoggedIn()">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i _ngcontent-jfv-21="" class="material-icons">person</i>{{getUserData().getfirstName()}}
												<b class="caret"></b>
											</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/user">Panel de usuario</a></li>
						<li><a href="javascript:void(0)" (click)="logout()">Cerrar Sesión</a></li>
					</ul>
				</li>-->
			</ul>
		</div>
	</div>
</nav>
<!-- End Navbar -->