
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

h4.title {
    text-align: center;
    margin-bottom: 50px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card-blog .card-title {
    margin-top: 5px;
}

.text-info {
    color: #ff9100 !important;
    font-weight: 500;
    font-size: 12px;
}

.card .content {
    padding: 15px;
    padding-bottom: 5px !important;
}

p.loadTitle {
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7);
}

p.loadSub {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.6);
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .footer .author {
    color: #999999;
}

.card .footer div {
    display: inline-block;
}

.footer .row {
    width: 100%;
    margin-top: 10px;
}

.footer .row.third {
    width: 100%;
    margin-top: 0px !important;
}

.author span{
    white-space: nowrap;
    text-overflow: ellipsis;
}

button.btn.btn-primary.btn-simple {
    margin: 0px;
}

.col-md-6.author {
    position: relative;
    top: 5px;
}

.col-md-12.author.third {
    margin-bottom: 11px;
}