<div class="new-order">
  <div class="page-header header-filter" filter-color="purple">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="card card-signup">
            <div class="mdl-card mdl-shadow--2dp">

              <div class="mdl-card__supporting-text">

                <div class="mdl-stepper-horizontal-alternative">
                  <a href="/order/select-truck" class="mdl-stepper-step active-step">
                    <div class="icon icon-active">
                      <i class="material-icons">local_shipping</i>
                    </div>
                    <div class="mdl-stepper-title">Transporte de carga</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                  </a>
                  <a href="/order/select-destination" class="mdl-stepper-step active-step">
                    <div class="icon icon-active">
                      <i class="material-icons">location_on</i>
                    </div>
                    <div class="mdl-stepper-title">Destino</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                  </a>
                  <a class="mdl-stepper-step ">
                    <div class="icon icon-not">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="mdl-stepper-title">Fecha de carga y descarga</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                  </a>
                  <a class="mdl-stepper-step">
                    <div class="icon icon-not">
                      <i class="material-icons">library_add</i>
                    </div>
                    <div class="mdl-stepper-title">Accesorios</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                  </a>
                  <a class="mdl-stepper-step">
                    <div class="icon icon-not">
                      <i class="material-icons">done_all</i>
                    </div>
                    <div class="mdl-stepper-title">Confirmación</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                  </a>
                </div>

              </div>

            </div>

            <div class="row destination">
              <div class="col-md-6 col-md-offset-3">
                <div class="col-md-8">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Buscar clientes</label>
                    <input type="text" class="form-control" (keyup)='destinationFilter($event)'>
                    <span class="material-input"></span></div>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-client" data-toggle="modal" data-target="#myModal">Agregar un cliente<div class="ripple-container"></div></button>
                </div>
                <div class="col-md-12 list">
                  <ul class="list-unstyled">
                    <li *ngFor="let client of clientsList">
                      <div class="radio" (click)="setProperty(client.address)">
                        <label>
                      <input type="radio" name="optionsRadios" ><span class="circle"></span><span class="check"></span>
                      <b>{{client.name}}:</b> {{client.address}} 
                    </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="footer-card">
              <a href="/order/select-truck" class="btn btn-primary btn-simple btn-back">Atrás</a>
              <button class="btn btn-primary btn-next" [disabled]="clientAddress === '' || clientAddress === undefined"  (click)="goDates()">Continuar<div class="ripple-container"></div></button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="http://www.yetcargo.com">
							Yetcargo
						</a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
						   FS6
						</a>
          </li>
          <li>
           <a href="http://blog.creative-tim.com">
						   ANGEL LIST
						</a>
          </li>
          <li>
            <a href="http://www.creative-tim.com/license">
							<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						</a>
          </li>
          <li>
            <a href="http://www.creative-tim.com/license">
							 <i class="fa fa-facebook-official" aria-hidden="true"></i>
						</a>
          </li>
          <li>
            <a href="http://www.creative-tim.com/license">
							 <i class="fa fa-twitter-square" aria-hidden="true"></i>
						</a>
          </li>
         
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2017 Yetcargo | Todos los derechos reservados.
      </div>
    </div>
  </footer>
  </div>
</div>
<app-new-client></app-new-client>