.profile-page .page-header {
    height: 380px;
    background-position: top center;
    margin-top: 0px !important;
}

.profile-page .follow .btn-fab {
    margin-top: -28px !important;
}

.profile-content {
    padding-bottom: 50px;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

h4.title {
    text-align: center;
    margin-bottom: 50px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card-blog .card-title {
    margin-top: 5px;
}

.text-info {
    color: #ff9100 !important;
    font-weight: 500;
    font-size: 12px;
}

.profile-content {
    background-color: white !important;
}

footer ul li a i {
    font-size: 18px !important;
}