<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>¿Necesitas transportar tu mercancía?</h1>
						<h3>Resolvemos los problemas locales y foráneos de tus envíos</h3>
						<button class="btn btn-warning">EMPIEZA YA<div class="ripple-container"></div></button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="features-1">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="title">Why our product is the best</h2>
							<h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful
								information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button
								if you want the user to see more.</h5>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">check</i>
								</div>
								<h4 class="info-title">Disponibilidad</h4>
								<p>Ponemos a tu disposición más de 150 unidades</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">people</i>
								</div>
								<h4 class="info-title">Operadores</h4>
								<p>Todos nuestros operadores de transporte cuentan con la documentación en regla.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">access_time</i>
								</div>
								<h4 class="info-title">Todo a tiempo</h4>
								<p>No perderás tiempo con tus entregas y pedidos.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-primary">
									<i class="material-icons">track_changes</i>
								</div>
								<h4 class="info-title">Rastreo en línea</h4>
								<p>Utiliza el sistema de tracking para tus envíos.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-warning">
									<i class="material-icons">view_list</i>
								</div>
								<h4 class="info-title">Unidades operativas</h4>
								<p>Olvida los transportes descompuestos.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-default">
									<i class="material-icons">attach_money</i>
								</div>
								<h4 class="info-title">Mejores costos</h4>
								<p>Tenemos los mejores precios competitivos.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="section section-basic how-we">
		<div class="container">
			<div class="col-md-6">
				<img src="assets/img/animate1.png" class="img-responsive" alt="¿Cómo lo hacemos?">
			</div>
			<div class="col-md-6">
				<h2>¿Cómo lo hacemos?</h2>
				<p>Es simple, regístrate y obtén todos los beneficios.</p>
				<p>Respuesta a tiempo las 24 horas del día los 365 días del año.</p>
				<div class="row">
					<div class="col-md-2">
						<i class="material-icons">phonelink</i>
					</div>
					<div class="col-md-10">
						<h5>1. SOLICITA</h5>
						<p>Accede a la plataforma y solicita tu transporte.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<i class="material-icons">track_changes</i>
					</div>
					<div class="col-md-10">
						<h5>2. TRACKING</h5>
						<p>Nuestra plataforma procesa e identifica el transporte más cercano.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<i class="material-icons">check</i>
					</div>
					<div class="col-md-10">
						<h5>3. CONFIRMA</h5>
						<p>Recibe un SMS, email o llamada cuando tu mercancía ha sido entregada.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="features" style="background-image: url('assets/img/transportebg.jpg')">

		<div class="col-md-8 col-md-offset-2 text-center">
			<h2 class="title">¿Por qué elegir YETCARGO?</h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="info">
						<div class="icon">
							<i class="material-icons">track_changes</i>
						</div>
						<h4 class="info-title">RASTREA</h4>
						<p>Puedes dar seguimiento en tiempo real </p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="info">
						<div class="icon">
							<i class="material-icons">local_shipping</i>
						</div>
						<h4 class="info-title">ENTREGA</h4>
						<p>Más que solo enviar, somos un aliado de tus entregas </p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="info">
						<div class="icon">
							<i class="material-icons">vpn_key</i>
						</div>
						<h4 class="info-title">CONFIANZA</h4>
						<p>Acceso a portafolio de transportistas confiables altamente calificados </p>
					</div>
				</div>



				<div class="col-sm-6">
					<div class="info">
						<div class="icon">
							<i class="material-icons">work</i>
						</div>
						<h4 class="info-title">NEGOCIOS</h4>
						<p>No pierdes el enfoque de tu negocio (el transporte no es su giro principal) </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="testimonials">

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2 class="title">What Clients Say</h2>

				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/card-profile1-square.jpg">
							</a>
						</div>

						<div class="content">
							<h4 class="card-title">Mike Andrew</h4>
							<h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6>
							<h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet
								Kanye I speak yell scream directly at the old guard on behalf of the future."
							</h5>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/card-profile4-square.jpg">
							</a>
						</div>

						<div class="content">
							<h4 class="card-title">Tina Thompson</h4>
							<h6 class="category text-muted">Marketing @ Apple Inc.</h6>
							<h5 class="card-description">"I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna
								for the invite thank you to the whole Vogue team It wasn’t any Kanyes I love Rick Owens’ bed design but the back
								is too high for the beams and angle of the ceiling"
							</h5>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/card-profile6-square.jpg">
							</a>
						</div>

						<div class="content">
							<h4 class="card-title">Gina West</h4>
							<h6 class="category text-muted">CFO @ Apple Inc.</h6>
							<h5 class="card-description">"I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... Royère doesn't
								make a Polar bear bed but the Polar bear. This is a very nice testimonial about this company."
							</h5>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="contactus section-image" style="background-image: url('assets/img/examples/city.jpg')">

		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="title">Comunícate con nosotros</h2>
					<h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">pin_drop</i>
						</div>
						<div class="description">
							<h4 class="info-title">Encuéntranos en nuestra oficina</h4>
							<p> Avenida Cuauhtémoc 133,<br> Roma Norte,<br> Ciudad de México
							</p>
						</div>
					</div>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">phone</i>
						</div>
						<div class="description">
							<h4 class="info-title">LLámanos</h4>
							<p> +55 762 321 762<br> Mon - Fri, 8:00-22:00
							</p>
						</div>
					</div>

				</div>
				<div class="col-md-5 col-md-offset-2">
					<div class="card card-contact">
						<form role="form" id="contact-form" method="post">
							<div class="header header-raised header-primary text-center">
								<h4 class="card-title">Contáctanos</h4>
							</div>
							<div class="content">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group label-floating is-empty">
											<label class="control-label">First name</label>
											<input type="text" name="name" class="form-control">
											<span class="material-input"></span></div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Last name</label>
											<input type="text" name="name" class="form-control">
											<span class="material-input"></span></div>
									</div>
								</div>
								<div class="form-group label-floating is-empty">
									<label class="control-label">Email address</label>
									<input type="email" name="email" class="form-control">
									<span class="material-input"></span></div>
								<div class="form-group label-floating is-empty">
									<label class="control-label">Your message</label>
									<textarea name="message" class="form-control" id="message" rows="6"></textarea>
									<span class="material-input"></span></div>

								<div class="row">
									<div class="col-md-6">
										
									</div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary pull-right">Enviar mensaje</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<ul>
					<li>
						<a href="http://www.creative-tim.com">
							Acerca de nosotros
						</a>
					</li>
					<li>
						<a href="http://presentation.creative-tim.com">
						   FS6
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
						   ANGEL LIST
						</a>
					</li>
					<li>
						<a href="http://www.creative-tim.com/license">
							LINKEDIN
						</a>
					</li>
				</ul>
			</nav>
			<div class="copyright pull-right">
				&copy; 2017 Yetcargo | Todos los derechos reservados.
			</div>
		</div>
	</footer>
</div>